<h1>Creating new post</h1>

<%= form_for :post, url: posts_path do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
